@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*START--Section Circles--START*/
.SectionContainer {
    position: fixed;
    pointer-events: visible;
    top: 25px;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    max-height: 1325px;
    z-index: 10;
    
    .sectionManagerLink{  
        position: relative;
        display: flex;
        align-items: center;
        height: 35px;
        margin: 0;
        padding: 0;
        .sectionNameTarget{
            color: #56FFDC;
        }
        .sectionNameHover{
            color: #56FFDC;
        }
        //Style when Hoverd. Class is getting added via js
        .svgIconHover{
            .innerIcon{
                fill: #56FFDC;
                transition: 0.1s ease-in-out;
            }
            .outerIcon{
                stroke: #56FFDC;
                transition: 0.1s ease-in-out;
            }
        }
        
        p{
            position: absolute;
            padding: 1rem;
            opacity: 1;
            color: white;
            margin-left: 2rem;
            transition: 0.1s ease-in-out;
        }
        &:hover{
            cursor: pointer;
        }
    }
    
    span{
        width: 1px;
        margin: 0.3rem 0 0.5rem 0;
        background-color: rgba(255, 255, 255, 0.3);
        height: 10px;
    }
    
    //Shadow when Icon is targeted
    .iconShadowTarget{
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        box-shadow: 0px 0px 50px 20px #56ffdd2c;
        transition: 0.2s ease-in-out;
    }
    //Style when Icon is targeted
    .svgIconTarget{
        .innerIcon{
            fill: #56FFDC;
            transition: 0.1s ease-in-out;
        }
        .outerIcon{
            stroke: #56FFDC;
            transition: 0.1s ease-in-out;
        }
    }
    
    
    
    
}

@media (max-width: 1300px){
    .SectionContainer {
        position: fixed;
        pointer-events: visible;
        top: 25px;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100%;
        max-height: 1325px;
        z-index: 10;
        a{  
            position: relative;
            display: flex;
            align-items: center;
            height: 35px;
            margin: 0;
            padding: 0;
            p{
                position: absolute;
                padding: 1rem;
                opacity: 1;
                color: white;
                margin-left: 2rem;
            }
            .sectionNameTarget{
                color: #56FFDC;
            }
        }
        .sectionName{
            display: none;
        }
        .iconShadowTarget{
            position: absolute;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            box-shadow: 0px 0px 50px 20px #56ffdd2c;
            transition: 0.2s ease-in-out;
        }
        .svgIconTarget{
            .innerIcon{
                fill: #56FFDC;
                transition: 0.1s ease-in-out;
            }
            .outerIcon{
                stroke: #56FFDC;
                transition: 0.1s ease-in-out;
            }
        }
        span{
            width: 1px;
            margin: 0.3rem 0 0.5rem 0;
            background-color: rgba(255, 255, 255, 0.3);
            height: 10px;
        }
    
        
    }
}
@media (max-width: 900px){
    .SectionContainer {
        position: fixed;
        pointer-events: visible;
        top: unset;
        bottom: 1rem;
        margin: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-height: 1325px;
        z-index: 10;
        
        a{  
            -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
            user-select: none;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: auto;
            width: 40px;
            margin: 0;
            padding: 0;
            p{
                position: absolute;
                bottom: 1rem;
                font-size: 11px;
                pointer-events: none;
                padding: 1rem 0rem;
                margin: 0rem;
                opacity: 0;
                color: white;
            }
            .pTarget{
                opacity: 1;
            }
            .sectionNameTarget{
                color: #56FFDC;
            }
        }
        .sectionName{
            display: unset;
        }
        .iconShadowTarget{
            position: absolute;
            bottom: 0.5rem;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            box-shadow: 0px 0px 50px 20px #56ffdd2c;
            transition: 0.2s ease-in-out;
        }
        .svgIconTarget{
            .innerIcon{
                fill: #56FFDC;
                transition: 0.1s ease-in-out;
            }
            .outerIcon{
                stroke: #56FFDC;
                transition: 0.1s ease-in-out;
            }
        }
        .icon{
            height: 20px;
            width: 20px;
        }
        span{
            align-self: flex-end;
            width: 10px;
            margin: 0.8rem 0rem;
            background-color: rgba(255, 255, 255, 0.3);
            height: 1px;
        }
        .sectionBottomGradiant{
            position: fixed;
            z-index: -1;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 110%);
            bottom: 0;
            width: 100%;
            height: 90px;
        }
    }
}
/*END--Section Circles--END*/
