@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*START--Homepage--START*/
.homepageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
}
.homepageBackground{
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    background: rgb(0,23,46);
    background: linear-gradient(180deg, rgba(0,23,46,1) 0%, rgba(9,9,9,1) 100%);
    height: 100%;
}
.homepageBackgroundParticles{
    width: 100%;
    height: 100%;

}
.homepageContentContainer{
    display: block;
    margin-top: 11rem;
    z-index: 1;
    pointer-events: visible;
}
/*END--Homepage--END*/

/*START--Content--START*/
.homepageContentContainer{
    display: flex;
    flex-direction: column;
    color: white;
}
.homepageContentContainer h1{
    display: block;
    font-family: "PT Serif";
    font-size: 20px;
    margin: 5rem 0 0rem 16rem
}
.homepageContentContainer h2{
    display: block;
    font-family: "PT Serif";
    font-size: 39px;
    margin: -0.4rem 0 0rem 16rem
}
.homepageContentContainer p{
    display: block;
    font-size: 18px;
    margin: 1rem 0 0rem 16rem;
    line-height: 2rem;
    font-family: "Noto Sans";
    width: 37rem;
}
.homepageContentContainer button{
    position: relative;
    width: 210px;
    height: 46px;
    background: linear-gradient(90deg, #27c5a4 0%, #005341 100%);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 17px;
    font-family: "PT Serif";
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    margin: 3rem 0 0rem 16rem;
}
.homepageContentContainer button:hover{
    cursor: pointer;
}
.buttonStyleBox{
    position: absolute;
    opacity: 0.1;
    background-color: white;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    outline: none;
    transition: 0.25s ease-in-out;
    pointer-events: none;
}

/*START--Slider--START*/
.slideShowContainer{
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.068);
}
.slideShowContainer .slider{
    position: absolute;
    display: flex;
    right: 5rem;
    justify-content: center;
    background-color: rgba(231, 231, 231, 0.068);
    height: 300px;
    width: 960px;
    transition: 0.4s ease-in-out;
}

.slide0{
    transition: 0.5s ease-in-out;
    position: absolute;
    transform: scale(0.7);
    margin-right: 25rem;
    margin-left: 0;
    height: 200px;
    width: 400px;
    background-color: rgb(151, 92, 218);
    margin-top: 0rem;
}
.slide1{
    transition: 0.5s ease-in-out;
    position: absolute;
    height: 200px;
    width: 400px;
    margin-right: 0rem;
    margin-left: 0rem;
    background-color: rgb(100, 167, 164);
    z-index: 2;
    margin-top: 4rem;
    transform: scale(1);
}
.slide2{
    transition: 0.5s ease-in-out;
    position: absolute;
    transform: scale(0.7);
    margin-right: 0rem;
    margin-left: 25rem;
    height: 200px;
    width: 400px;
    background-color: rgb(119, 37, 48);
    margin-top: 0rem;
}

.slideLeftButton{
    position: absolute;
    transform: scale(0.7);
    z-index: 2;
    margin-right: 25rem;
    height: 200px;
    width: 400px;
    margin-top: 0rem;
}
.slideRightButton{
    position: absolute;
    transform: scale(0.7);
    z-index: 2;
    margin-left: 25rem;
    height: 200px;
    width: 400px;
    margin-top: 0rem;
}
/*END--Slider--END*/
/*END--Content--END*/

.purple{
    height: 100%;
    width: 100%;
    background-color: purple;
}
.red{
    height: 100%;
    width: 100%;
    background-color: rgb(155, 17, 17);
}
.blue{
    height: 100%;
    width: 100%;
    background-color: rgb(37, 22, 175);
}