@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.contactPageContainer{
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100vh;
    min-height: 950px;
    max-height: 1350px;
    z-index: 0;
    overflow: hidden;
    background: rgb(0, 23, 46);
    background: linear-gradient(0deg, rgb(46, 104, 131) -50%, rgb(0, 23, 46) 100%, );
    .contactContentContainer{
        position: relative;
        margin-top: 18rem;
        height: 300px;
        .contactContentName{
            position: absolute;
            width: 100%;
            color: white;
            font-family: "PT Serif";
            font-weight: 700;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            pointer-events: none;
            h1{
                display: block;
                font-family: "PT Serif";
                font-size: 20px;
                margin: 0rem 0 0rem 0rem;
            }
            h2{
                display: block;
                font-family: "PT Serif";
                font-size: 39px;
                margin: -0.4rem 0 0rem 0;
            }
            
            .inputContainer{
                position: relative;
                margin-top: 2.5rem;
                outline: none;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                input{
                    height: 50px;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 18px;
                    font-family: "NOTO SANS";
                    text-align: center;
                    padding: 0rem 1rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.4);
                    border: 1px solid white;
                    transition: 0.2s ease-in-out;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.705);
                        transition: 0.2s ease-in-out;
                    }
                    &:focus{
                        outline: none;
                        border: 1px solid #ffcf76;
                    }
                }
                .nameInfo{
                    position: absolute;
                    right: 0;
                    height: 20px;
                    margin-right: 1rem;
                    width: 20px;
                }
            }
    
            button{
                position: relative;
                padding: 0.9rem 2.8rem;
                background: #189F83;
                box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.205);
                border-radius: 5px;
                border-style: none;
                color: white;
                font-size: 16px;
                font-family: "PT Serif";
                letter-spacing: 1px;
                font-weight: 700;
                outline: none;
                margin-top: 3rem;
                &:hover{
                    cursor: pointer;
                    background: #2edbb9;
                }
            }
        }

        .contactContentEmail{
            position: absolute;
            width: 100%;
            color: white;
            font-family: "PT Serif";
            font-weight: 700;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            pointer-events: none;
            h1{
                display: block;
                font-family: "PT Serif";
                font-size: 20px;
                margin: 0rem 0 0rem 0rem;
            }
            h2{
                display: block;
                font-family: "PT Serif";
                font-size: 39px;
                margin: -0.4rem 0 0rem 0;
            }
            
            .inputContainer{
                position: relative;
                margin-top: 2.5rem;
                outline: none;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1{
                    position: absolute;
                    font-family: "PT Serif";
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                }
                input{
                    height: 50px;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 18px;
                    font-family: "NOTO SANS";
                    text-align: center;
                    padding: 0rem 1rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.4);
                    border: 1px solid white;
                    transition: 0.2s ease-in-out;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.705);
                        transition: 0.2s ease-in-out;
                    }
                    &:focus{
                        outline: none;
                        border: 1px solid #ffcf76;
                    }
                }
                .nameInfo{
                    position: absolute;
                    right: 0;
                    height: 20px;
                    margin-right: 1rem;
                    width: 20px;
                }
            }
    
            button{
                position: relative;
                padding: 0.9rem 2.8rem;
                background: #189F83;
                box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.205);
                border-radius: 5px;
                border-style: none;
                color: white;
                font-size: 16px;
                font-family: "PT Serif";
                letter-spacing: 1px;
                font-weight: 700;
                outline: none;
                margin-top: 3rem;
                &:hover{
                    cursor: pointer;
                    background: #2edbb9;
                }
            }
        }

        .contactContentDescription{
            position: absolute;
            width: 100%;
            color: white;
            font-family: "PT Serif";
            font-weight: 700;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            pointer-events: none;
            h1{
                display: block;
                font-family: "PT Serif";
                font-size: 20px;
                margin: 0rem 0 0rem 0rem;
            }
            h2{
                display: block;
                font-family: "PT Serif";
                font-size: 39px;
                margin: -0.4rem 0 0rem 0;
            }
            
            .inputContainer{
                position: relative;
                margin-top: 2.5rem;
                outline: none;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1{
                    position: absolute;
                    font-family: "PT Serif";
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                }
                textarea{
                    display: flex;
                    resize: none;
                    justify-content: flex-start;
                    height: 100px;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 18px;
                    font-family: "NOTO SANS";
                    padding: 0.7rem 4rem 0.5rem 1rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.4);
                    border: 1px solid white;
                    transition: 0.2s ease-in-out;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.705);
                        transition: 0.2s ease-in-out;
                    }
                    &:focus{
                        outline: none;
                        border: 1px solid #ffcf76;
                    }
                }
                .nameInfo{
                    position: absolute;
                    right: 0;
                    height: 20px;
                    margin-right: 1rem;
                    width: 20px;
                }
            }
    
            button{
                position: relative;
                padding: 0.9rem 2.8rem;
                background: #189F83;
                box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.205);
                border-radius: 5px;
                border-style: none;
                color: white;
                font-size: 16px;
                font-family: "PT Serif";
                letter-spacing: 1px;
                font-weight: 700;
                outline: none;
                margin-top: 3rem;
                &:hover{
                    cursor: pointer;
                    background: #2edbb9;
                }
            }
        }

        .contactContentBudged{
            position: absolute;
            width: 100%;
            color: white;
            font-family: "PT Serif";
            font-weight: 700;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            pointer-events: none;
            h1{
                display: block;
                font-family: "PT Serif";
                font-size: 20px;
                margin: 0rem 0 0rem 0rem;
            }
            h2{
                display: block;
                font-family: "PT Serif";
                font-size: 39px;
                margin: -0.4rem 0 0rem 0;
            }
            
            .inputContainer{
                position: relative;
                margin-top: 2.5rem;
                outline: none;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1{
                    position: absolute;
                    font-family: "PT Serif";
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                }
                input{
                    height: 50px;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 18px;
                    font-family: "NOTO SANS";
                    appearance: none;
                    text-align: center;
                    padding: 0rem 1rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.4);
                    border: 1px solid white;
                    transition: 0.2s ease-in-out;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.705);
                        transition: 0.2s ease-in-out;
                    }
                    &:focus{
                        outline: none;
                        border: 1px solid #ffcf76;
                    }
                }
                .currency{
                    position: absolute;
                    display: flex;
                    outline: none;
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    font-family: "PT Serif";
                    font-size: 16px;
                    width: 50px;
                    height: 100%;
                    right: 0.5rem;

                    option{
                        color: black;
                        width: 100px;
                        padding: 0.5rem 1rem;
                    }
                    
                }
            }
    
            button{
                position: relative;
                padding: 0.9rem 2.8rem;
                background: #189F83;
                box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.205);
                border-radius: 5px;
                border-style: none;
                color: white;
                font-size: 16px;
                font-family: "PT Serif";
                letter-spacing: 1px;
                font-weight: 700;
                outline: none;
                margin-top: 3rem;
                &:hover{
                    cursor: pointer;
                    background: #2edbb9;
                }
            }
        }
    }
    
    
    .stepsContainer{
        margin-top: 8rem;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        .stepsInnerContainer{
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .step{
                display: flex;
                justify-content: center;
                width: 25px;
                height: 25px;
                
                .stepName{  
                    font-family: "Noto Sans";
                    font-size: 12px;
                    position: absolute;
                    margin-top: -1.8rem;
                    color: rgba(255, 255, 255, 0.4);
                    pointer-events: none;
                    transition: 0.1s ease-in-out;
                }

                .stepNameTarget{
                    color: #56FFDC;
                    transition: 0.1s ease-in-out;
                }

                .stepNameDone{
                    color: #278f7a;
                }
                
                .stepIcon{
                    
                    .innerIcon{
                        fill: rgba(255, 255, 255, 0.4);
                        transition: 0.1s ease-in-out;
                    }
                    .outerIcon{
                        stroke: rgba(255, 255, 255, 0.4);
                        transition: 0.1s ease-in-out;
                    }
                    &:hover{
                        cursor: not-allowed;
                    }
                }
                .stepIconTarget{
                    .innerIcon{
                        fill: #56FFDC;
                    }
                    .outerIcon{
                        stroke: #56FFDC;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }

                .stepIconDone{
                    .innerIcon{
                        fill: #278f7a;
                        transition: 0.1s ease-in-out;
                    }
                    .outerIcon{
                        stroke: #278f7a;
                        transition: 0.1s ease-in-out;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }

                
            }
            span{
                margin: 0 0.9rem;
                width: 10px;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    .designRef{
        display: flex;
        margin-top: 4rem;
        justify-content: center;
        font-family: "PT Serif";
        font-size: 20px;
        color: white;
        a{
            
            color: #2edbb9;
            text-decoration: underline;
            
        }
        a:hover{
            color: #189F83;
        }
    }
    
    .rainContainer{
        position: absolute;
        pointer-events: none;
        z-index: -1;
        top: 0;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .rain{
            position: absolute;
            top: 0;
            left: 20px;
            border-radius: 50%;
            height: 30px;
            width: 1px;
        }
    }
}

@media (max-width: 1300px){
    .contactPageContainer{
        
        height: auto;
        max-height: unset;

        .contactContentContainer{
            .contactContentName{
                .inputContainer{
                    width: 50%;
                }
            }
        }

       

    }
}
@media (max-width: 900px){
    .contactPageContainer{
        height: 100%;
        min-height: 100vh;
        .contactContentContainer{
            margin-top: 7rem;
            .contactContentName{
                display: flex;
                justify-content: center;
                align-items: center;

                h1{
                    padding: 0 1rem;
                    font-size: 16px;
                    text-align: center;
                }
                h2{
                    font-size: 30px;
                    padding: 0 1rem;
                    margin-top: 0.05rem;
                    line-height: 2.2rem;
                    text-align: center;
                }
                .inputContainer{
                    width: 90%;
                    input{
                        font-size: 15px;
                    }
                    .nameInfo{
                        height: 17px;
                        width: 17px;
                    }
                    
                }
                button{
                    font-size: 14px;
                }
            }
            
            .contactContentEmail{
                display: flex;
                justify-content: center;
                align-items: center;

                h1{
                    padding: 0 1rem;
                    font-size: 16px;
                    text-align: center;
                }
                h2{
                    font-size: 30px;
                    padding: 0 1rem;
                    margin-top: 0.05rem;
                    line-height: 2.2rem;
                    text-align: center;
                }
                .inputContainer{
                    width: 90%;
                    input{
                        font-size: 15px;
                    }
                    .nameInfo{
                        height: 17px;
                        width: 17px;
                    }
                    
                }
                button{
                    font-size: 14px;
                }
            }

            .contactContentDescription{
                display: flex;
                justify-content: center;
                align-items: center;

                h1{
                    padding: 0 1rem;
                    font-size: 16px;
                    text-align: center;
                }
                h2{
                    font-size: 30px;
                    padding: 0 1rem;
                    margin-top: 0.05rem;
                    line-height: 2.2rem;
                    text-align: center;
                }
                .inputContainer{
                    width: 90%;
                    
                    textarea{
                        font-size: 15px;
                    }
                    .nameInfo{
                        height: 17px;
                        width: 17px;
                    }
                    
                }
                button{
                    font-size: 14px;
                }
            }

            .contactContentBudged{
                display: flex;
                justify-content: center;
                align-items: center;

                h1{
                    padding: 0 1rem;
                    font-size: 16px;
                    text-align: center;
                }
                h2{
                    font-size: 30px;
                    padding: 0 1rem;
                    margin-top: 0.05rem;
                    line-height: 2.2rem;
                    text-align: center;
                }
                .inputContainer{
                    width: 90%;
                    input{
                        font-size: 15px;
                    }
                    .nameInfo{
                        height: 17px;
                        width: 17px;
                    }
                    
                }
                button{
                    font-size: 14px;
                }
            }
        }
        .stepsContainer{
            transform: scale(0.9);
        }
        .designRef{
            text-align: center;
            font-size: 15px;
            padding: 0 1rem;
            padding-bottom: 2rem;
        }
    }
}
@keyframes drop{
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    80%{
        transform: translate3d(0, 110vh, 0);
        opacity: 0.1;
    }
    100%{
        transform: translate3d(0, 90vh, 0);
        opacity: 0;
    }
}
