//Logo
.LogoContainer {
    position: absolute;
    pointer-events: none;
    margin: 2rem 5rem;
    bottom: 0rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34px;
    z-index: 2;
    p{
        color: white;
        font-family: "Noto Sans";
        letter-spacing: 0.1rem;
        font-size: 15px;
        font-weight: 400;
    }
}

@media (max-width: 900px){
    .LogoContainer {
        position: fixed;
        pointer-events: none;
        margin: unset;
        margin-top: 0.2rem;
        top: 0;
        bottom: unset;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
        height: 50px;
        z-index: 2;
        p{
            color: white;
            font-family: "Noto Sans";
            letter-spacing: 0.2rem;
            font-size: 15px;
            font-weight: 400;
        }
    }
}