.ScrolldownContainer {
    position: fixed;
    left: 0;
    bottom: 1rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    z-index: 1;
    height: 25px;
    width: 100%;
    max-width: 2400px;
    animation: ScrollDownIconAnimation 0.5s infinite;
    animation-direction: alternate;
}
@media (min-width: 2600px) {
    .ScrolldownContainer {
        position: absolute;
        top: 81rem;
        left: 0;
        bottom: 1rem;
        pointer-events: none;
        opacity: 0;
        transform: translateY(10px);
        z-index: 1;
        height: 25px;
        width: 100%;
        max-width: 2400px;
        animation: ScrollDownIconAnimation 0.5s infinite;
        animation-direction: alternate;
    }
}
@media (max-width: 1000px) {
    .ScrolldownContainer {
        position: relative;
        left: unset;
        margin-top: 2rem;
        bottom: unset;
        pointer-events: none;
        opacity: 1;
        transform: translateY(10px);
        z-index: 1;
        height: 20px;
        width: 100%;
        max-width: 2400px;
        animation: ScrollDownIconAnimation 0.5s infinite;
        animation-direction: alternate;
    }
}
@keyframes ScrollDownIconAnimation {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}