@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.hytaleDesignContainer{
    position: relative;
    height: 100vh;
    min-height: 950px;
    max-height: 1350px;
    width: 100%;
    .hytaleHeader{
        position: relative;
        padding-top: 7rem;
        display: block;
        text-align: center;
        color: white;
        font-family: "PT Serif";
        font-weight: 700;
        div{
            position: absolute;
            width: 100%;
            height: 50px;
            top: 125px;
            background-image: url("../../../assets/svgs/headerDesign.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            pointer-events: none;
        }
        h1{
           position: relative;
           font-size: 20px;
           text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
        
        h2{
           margin-top: -0.3rem;
           text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
           font-size: 39px;
            
        }
       
    }
    .previewContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        height: 100%;
        max-height: 360px;
        width: 100%;
        z-index: 1;
        pointer-events: none;
        .previews{
            position: absolute;
            pointer-events: visible;
            height: 360px;
            width: 650px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            border-radius: 3px;
        }

        .preview1Background{
            height: 100%;
            width: 100%;
            background-image: url("../../../assets/images/Hytale.png");
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s ease-in-out;
            background-size: cover;
            transform: scale(1.1);
        }
        .preview2Background{
            height: 100%;
            width: 100%;
            background-image: url("../../../assets/images/team.jpg");
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s ease-in-out;
            background-size: cover;
            transform: scale(1.1);
        }
        .preview3Background{
            height: 100%;
            width: 100%;
            background-image: url("../../../assets/images/ice_dragon.jpg");
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s ease-in-out;
            background-size: cover;
            transform: scale(1.1);
        }
    }
    .hytaleContent{
        display: flex;
        justify-content: center;
        color: white;
        p{
            text-align: center;
            font-size: 18px;
            margin: 2rem 0 0rem 0;
            line-height: 2rem;
            font-family: "Noto Sans";
            width: 30%;
            min-width: 400px;
        }
    }
    
    .designPageButtonContainer{
        pointer-events: none;
        margin-top: 4.5rem;
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .designButton{
            position: relative;
            pointer-events: visible;
            padding: 0.8rem 2.8rem;
            box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.205);
            border-radius: 5px;
            border-style: none;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-family: "PT Serif";
            letter-spacing: 1px;
            font-weight: 700;
            outline: none;
            background: rgb(255,213,99);
            background: linear-gradient(180deg, rgba(255,213,99,1) 0%, rgba(255,194,28,1) 100%);
        }
        .designButton:hover{
            background: rgb(255,213,99);
            background: linear-gradient(180deg, rgb(255, 217, 114) 0%, rgb(255, 200, 50) 100%);
            cursor: pointer;
        }
    }
    .designBackground{
        position: absolute;
        pointer-events: none;
        z-index: -1;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scale(1.1);
        background-image: url("../../../assets/images/Wallpaper.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .darkerBackground{
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.45);
            pointer-events: none;
        }
    }
}

@media (max-width: 1000px){
    .hytaleDesignContainer{
        height: 100%;
        min-height: 100vh;
        .hytaleHeader{
            z-index: 2;
            padding-top: 7rem;
            div{
                background: unset;
            }
            h1{
               padding-top: 0rem;
               font-size: 16px;
            }
            h2{
               margin-top: -0.3rem;
               text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
               font-size: 30px;
            }
           
        }
        .previewContainer{
            margin-top: 2rem;
            height: 200px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .previews{
                top: unset;
                right: unset;
                height: 200px;
                width: 90%;
                max-width: 350px;
            }
    
        }
        .hytaleContent{
            margin-top: 2rem;
            padding: 0;
            width: 100%;
            p{
                text-align: center;
                font-size: 14px;
                padding: 0 1rem;
                margin: 0;
                width: 100%;
                min-width: unset;
                
            }
        }
        .designPageButtonContainer{
            margin: 0;
            padding-top:3rem;
            padding-bottom: 7rem;
            .designButton{
                padding: 0.85rem 2.6rem;
                color: rgb(0, 0, 0);
                font-size: 14px;
                background: rgb(255,213,99);
                background: linear-gradient(180deg, rgb(253, 216, 114) 0%, rgb(197, 150, 20) 100%);
                letter-spacing: 1px;
                outline: none;
            }
        }
        .designBackground{
            position: absolute;
            height: 950px;
            min-height: 100vh;
            pointer-events: none;
            transform: scale(1);
        }
    }
}



