@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.DesignPageContainer{
    position: relative;
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    top: 0;
    height: 100vh;
    width: 100%;
    max-height: 1350px;
    overflow: hidden;
    
}

.designPageButtonContainer{
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .designButton{
        margin-bottom: 10rem;
        width: 210px;
        height: 46px;
        background-color: #161616;
        color: white;
        outline: none;
        border: unset;
        font-family: "PT Serif";
        transition-duration: 0.1s;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 700;
        border-radius: 5px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.93);
    }
    .designButton:hover{
        background-color: #1b1b1b;
        cursor: pointer;
    }
}
.designBottomIllustrationContainer{
    position: absolute;
    pointer-events: none;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    .designBottomIllustration{
        height: 100%;
        width: 100%;
        transition-duration: 0.1s;
        transform: scale(1.1) translateX(1px);
        background-image: url("../../assets/illustrations/DesignBottomDeco.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
    }
}

@media (max-width: 1000px){
    .DesignPageContainer{
        z-index: 2;
        grid-column: 1;
        grid-row: 1;
        top: 0;
        height: 100vh;
        width: 100%;
        max-height: 1350px;
        overflow: hidden;
        
    }
    
    .pageButtonContainer{
        position: fixed;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 5;
        .pageButton{
            margin-bottom: 5rem;
            width: 190px;
            height: 46px;
            background-color: #161616;
            color: white;
            outline: none;
            border: unset;
            font-family: "PT Serif";
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: 5px;
            font-weight: 700;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.93);
        }
        .pageButton:hover{
            background-color: #1b1b1b;
            cursor: pointer;
        }
    }
    .designBottomIllustrationContainer{
        position: fixed;
        bottom: 0;
        pointer-events: none;
        .designBottomIllustration{
            height: 100%;
            width: 100%;
            transition-duration: 0.1s;
            transform: scale(1.1) translateX(1px);
            background-image: url("../../assets/illustrations/DesignBottomDeco.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;  
        }
    }
}

