.DesignPageContainer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-height: 1350px;
    overflow: hidden;
    .BackgroundSlide1{
        height: 100%;
        width: 100%;
        background-image: url("../../assets/images/Wallpaper.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}