body{
    background: rgb(14, 14, 14)
}

.App{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 2400px;
    max-height: 1350px;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
}
